<form action="/scooters">
  <div class="form-group">
  <input type="date" class="form-control" name="start_date">
    <input type="date" class="form-control" name="end_date">
    <input type="text" class="form-control" name="location" placeholder="Address">
    <input type="submit" button type="button" class="btn btn-primary" value="Search">
  </div>
</form>
