<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://static.pexels.com/photos/351087/pexels-photo-351087.jpeg');">
  <div class="banner-content">
  <h1>Scootshare</h1>
    <p>Rent scooters from people nearby!</p>
    <%= render 'shared/search_form' %>
  </div>
</div>
