
.card {
  height: 400px;
  text-shadow: 0 0px 50px rgba(0,0,0,0.6);
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
}
.card-reservation {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: left;
  text-align: center;
  padding: 0 16px;
  color: #88C5CC;
}

.card-content-reservation {
  color: grey;

}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card-container {
  display: flex;
  margin: 10px;
  align-items: center;
}

.scooter-image {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
}

.card-content {
margin: 10px;
}
