.card-container {
  display: flex;
  margin: 10px;
  align-items: center;
}

.scooter-image {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
}

.card-content {
margin: 10px;

}
