
.scooter-image-account-show {
  height: 200px;
  width: 100%;
  border-radius: 7px;
  background-size: cover !important;
  background-position: center;
}

.scooter-image {
  height: 200px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.scooter-card {
  display: flex;
  margin: 10px;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}

.scooter-card-account-show {
  margin: 10px auto;
  background-color: white;
  max-width: 400px;
  font-size: 14px;
  border-radius: 7px;
  padding: 10px 5px;
  h2{
    font-size: 18px;
    margin-top: 0px;
    }
}

.scooter-card-content {
  margin: 10px;
  width: calc(100% - 200px);
}

.scooter-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.scooter-btn {
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: bold;
  background: #88C5CC;
  letter-spacing: 1px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  &:hover {
    text-decoration: none;
    color: #BE3E31;
    cursor: pointer;
  }
}

